//
//  RearrangeTests.xcconfig
//  Rearrange
//
//  Created by Matt Massicotte on 2019-09-11.
//  Copyright © 2019 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Test.xcconfig"

PRODUCT_NAME = RearrangeTests
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.RearrangeTests
PRODUCT_MODULE_NAME = RearrangeTests

INFOPLIST_FILE = RearrangeTests/Info.plist

MACOSX_DEPLOYMENT_TARGET = 10.10
IPHONEOS_DEPLOYMENT_TARGET = 8.0
TVOS_DEPLOYMENT_TARGET = 10.0
WATCHOS_DEPLOYMENT_TARGET = 3.0
